<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
    <script src="/static/chart.js"></script>
    <script src="/static/chart2.js"></script>
    <script src="/static/chart3.js"></script>
    <script src="/static/chart4.js"></script>
    <script src="/static/chart5.js"></script>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <div class = "Header">
        <h1>Zewail University DashBoard</h1>
    </div>
    <div class = "container">
        <div id="chartdiv"> <h2>Percentage of students in each school</h2></div> 
        <div id = "chart2div"><h2>Percentage of students in each program</h2></div>
        <div id = "chart3div"><h2>Number of students in each school</h2></div>
        <div id = "chart4div"><h2>Number of students in each program</h2></div>
        <div id = "chart5div"><h2>Students average GPA's in each program  </h2></div>
    </div>
    
</body>
</html>